<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="testchamber">
<test name="testone">
          <!-- <classes><class name="com.org.frameworkFiles.runners.GoogleSearchCheese"/></classes> -->
       <!--  <classes><class name="com.org.frameworkFiles.runners.MyHCL"/></classes> -->
       <classes><class name="UIRun.Run1Test"/></classes>
	</test>
</suite>